*, ::before, ::after {
    margin: 8;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ivory;
}

nav {
    width: 100%;
    background-color: rgba(194, 2, 2, 0.833);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

searchInput{
width: 30vw; 
}

#search-input::placeholder{
    color: red;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;

}
.container .info{

}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}
